duckdb
dbt-duckdb
pandas
pyarrow
apache-airflow
streamlit
plotly
sqlfluff
sqlfluff-templater-dbt
pre-commit
pyspark
prophet
sqlalchemy
psycopg2-binary
matplotlib
seaborn
jupyterlab
fastapi
uvicorn
pytest
httpx<0.28.0
pydantic
playwright
